// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$mobile-gray:#938C8C;
$light-gray: rgba(228, 228, 228, 1);
$dark-gray: rgba(22, 21, 21, 0.9);
$setting-gb: rgb(242, 242, 247);
$blue-tutorial: #447CE9;
$green-call: #4FD971;
$red-call: #E2463D;
$withu-purple: #6045AD;
$withu-light-purple: #8B75C8;
