.img-tutorial {
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-top: 5px;
}

.description {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.desc-text {
  padding-top: 13px;
}

.body-tutorial {
  padding-left: 35px;
  padding-right: 35px;
  display: block;
}
