<h1>Fake Call</h1>

<%= link_to profile_path do %> <i class="fas fa-phone btn-red"></i> <% end %>




<i class="fas fa-map-marker-alt btn-gray loc-gray"></i>
<i class="fas fa-map-marker-alt btn-green loc-green"></i>
<i class="fas fa-equals btn-gray stop-gray"></i>
<i class="fas fa-equals btn-green stop-green"></i>
<i class="fas fa-phone btn-gray add-call-gray"></i>
<i class="fas fa-phone btn-green"></i>




