<h1>Fake Call</h1>

<%= link_to profile_path do %> <i class="fas fa-phone bg-red btn-refuse"></i> <% end %>

<i class="bg-gray btn-add-call"><%= image_tag "phone.svg", alt: "icon add call", style: 'width: 25px;'%></i>
<i class="bg-green btn-add-call"><%= image_tag "phone.svg", alt: "icon add call", style: 'width: 25px;'%></i>

<i class="fas fa-map-marker-alt bg-gray btn-loc"></i>
<i class="fas fa-map-marker-alt bg-green btn-loc"></i>
<i class="fas fa-equals bg-gray btn-pause"></i>
<i class="fas fa-equals bg-green btn-pause"></i>
<i class="fas fa-phone bg-green btn-accept"></i>




