<h1>Incoming</h1>

<%= link_to profile_path do %> <i class="fas fa-phone bg-red btn-refuse"></i> <% end %>
<%= link_to fakecall_path do %> <i class="fas fa-phone bg-green btn-accept"></i> <% end %>








