<small>#incoming call</small>

<div class="call-top">
  <div class="call-name">
    Dad
  </div>
  <div class="call-info">
    <p class="mobile">mobile</p>
  </div>



<!-- <button class="play">click me</button>

<script>


  const btn = document.querySelector(".play")

  btn.addEventListener("click", (event) => {
    document.querySelector("audio").play()
  })
  btn.click()


</script> -->

<div class="call-buttons-small">
  <div>
    <i class="fas fa-map-marker-alt btn-loc-small-white"></i>
    <i class="fas fa-map-marker-alt btn-loc-small-green"></i>
  </div>
    <div>
      <small class="call-description-white">location</small>
      <small class="call-description-green">location</small>
    </div>

      <div>
        <i class="fas fa-phone btn-second-call-white"></i>
        <i class="fas fa-phone btn-second-call-green"></i>
      </div>
        <div>
          <small class="call-description-white">2nd call</small>
          <small class="call-description-green">2nd call</small>
        </div>
</div>

<div>
<%= link_to profile_path do %> <i class="fas fa-phone bg-red btn-refuse"></i> <% end %>
<%= link_to fakecall_path do %> <i class="fas fa-phone bg-green btn-accept audio-play"></i> <% end %>
</div>



<p>Click the button to get your coordinates.</p>

<a id="geoLoc">Get location</a>
</div>

<%= link_to "call angels", call_angels_path, remote: true %>

