<body class="dark">
<br>
<br>

<div class="call-top">
  <div class="call-name">
    Dad
  </div>
  <div class="call-info">
    <p class="mobile">mobile</p>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- <button class="play">click me</button>

<script>


  const btn = document.querySelector(".play")

  btn.addEventListener("click", (event) => {
    document.querySelector("audio").play()
  })
  btn.click()


</script> -->

<div class="call-buttons-small d-flex justify-content-around">

  <div>
    <a id="geoLoc">
      <i class="fas fa-map-marker-alt btn-loc-small-white"></i><br>
      <small class="call-description-white">location</small>
    </a>
  </div>

<!--   <div>
    <i class="fas fa-map-marker-alt btn-loc-small-green"></i> <br>
    <small class="call-description-green">location</small>
  </div> -->

  <div>
    <i class="fas fa-phone btn-second-call-white"></i> <br>
    <small class="call-description-white">2nd call</small>
  </div>

<!--   <div>
    <i class="fas fa-phone btn-second-call-green"></i> <br>
    <small class="call-description-green">2nd call</small>
  </div> -->

</div>
<br>
<br>
<br>
<div class="d-flex justify-content-around">
<%= link_to profile_path do %> <i class="fas fa-phone bg-red btn-refuse"></i> <% end %>
<%= link_to fakecall_path do %> <i class="fas fa-phone bg-green btn-accept audio-play"></i> <% end %>
</div>


</body>

