<body class="dark">
  <br>
  <br>
  <div class="call-top">
    <div class="call-name">
      Papà
    </div>
    <p class="mobile">mobile</p>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <div id="div-btn-change" class="call-buttons-small d-flex justify-content-around">
    <div class="text-center" id="first-loc-btn">
      <a id="geoLoc">
        <i id="btnchangegreen" class="fas fa-map-marker-alt btn-loc-small-white"></i><br>
        <small id="wrtchangegreen"class="call-description-white">posizione</small>
      </a>
    </div>

    <div class="text-center" id="second-fake-call">
      <i id="btnchangegreensecond"class="fas fa-phone btn-second-call-white text-center"></i> <br>
      <small id="wrtchangegreensecond"class="call-description-white">chiamata 2</small>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="d-flex justify-content-around text text-center">
    <%= link_to profile_path do %> <i class="fas fa-phone bg-red btn-refuse audio-pause-call"></i> <br><p class="call-description-white mt-2">Impostazioni</p><% end %>
    <%= link_to fakecall_path do %> <i class="fas fa-phone bg-green btn-accept audio-play audio-pause-call"></i> <br> <p class="call-description-white mt-2">Accetta</p><% end %>
  </div>
</body>

