<h1>Incoming</h1>

<%= link_to "Fake Call", fakecall_path, class: "btn btn-primary"%>
<%= link_to "Profile", profile_path, class: "btn btn-primary" %>


<p>Click the button to get your coordinates.</p>

<a id="geoLoc">Get location</a>


<%#= link_to "call angels", angels_path, remote: true %>
