^<h1>Profile</h1>

<i class="fas fa-map-marked-alt btn-blue btn-map"></i>

<%= link_to tutorial_path do %> <i class="fas fa-question btn-blue btn-questionmark"></i> <% end %>
<%= link_to fakecall_path do %> <i class="fas fa-phone btn-green"></i> <% end %>
