<h1>Profile</h1>

<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<i class="fas fa-map-marked-alt bg-blue btn-map"></i>

<%= link_to tutorial_path do %> <i class="fas fa-question bg-blue btn-questionmark"></i> <% end %>
<%= link_to fakecall_path do %> <i class="fas fa-phone bg-green btn-accept"></i> <% end %>
<br>

<i class="fas fa-map-marked-alt bg-blue btn-map"></i>

<br>
<br>
<br>
<br>
<br>
<br><i class="fas fa-map-marked-alt bg-blue btn-map"></i>

<br>
<br>
<br>
<br>
<br>
<br><i class="fas fa-map-marked-alt bg-blue btn-map"></i>

<br>
<br>
<br>
<br>
<br>
<br><i class="fas fa-map-marked-alt bg-blue btn-map"></i>

<br>
<br>
<br>
<br>
<br>
<br>
<i class="fas fa-map-marked-alt bg-blue btn-map"></i>
<br>
<i class="fas fa-map-marked-alt bg-blue btn-map"></i>
<br>
<i class="fas fa-map-marked-alt bg-blue btn-map"></i>
<br>
<%= render 'shared/navbar' %>
