^<h1>Profile</h1>

<i class="fas fa-map-marked-alt bg-blue btn-map"></i>

<%= link_to tutorial_path do %> <i class="fas fa-question bg-blue btn-questionmark"></i> <% end %>
<%= link_to fakecall_path do %> <i class="fas fa-phone bg-green btn-accept"></i> <% end %>
