<body>
  <h1 class="text-center mt-3">Tutorial</h1>

  <h5>-Screen 1</h5>
  <p>You are walking alone and you don’t feel safe. You open WithU, you are no longer alone</p>
  <hr>
  <p>The call track starts in 3 seconds. Send your location immediately, if you feel threatened. Decide if you want to accept it, to see some more options. Hit 2nd call if you need a different fake call. If you turn the call down, you will get to the settings. </p>

  <div class="">

  </div>









<%= render 'shared/navbar' %>
</body>
