<body class="withu-purple d-flex justify-content-center">

  <div>
  <%= link_to incoming_path do %> <%= image_tag "with-u-logo.png", class: "welcome-logo audio-play-call" %> <% end %>
  <br>
    <p class="welcome-writing text-center">Tap the logo to start</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p class="text-white text-center mt-5 ">Stay safe</p>
  </div>
</body>
