.btn-green {
  font-size: 25px;
  color: white;
  transform: rotate(87deg);
  background-color: #4FD971;
  padding: 20px 20px;
  border-radius: 100%;
}

.btn-red {
  font-size: 25px;
  color: white;
  transform: rotate(-135deg);
  background-color: #E2463D;
  padding: 20px 20px;
  border-radius: 100%;
}

.btn-gray {
  font-size: 25px;
  color: white;
  // transform: rotate(87deg);
  background-color: grey;
  padding: 20px 20px;
  border-radius: 100%;
}

.loc-green {
  transform: rotate(0deg);
  padding: 20px 24px;
}

.loc-gray {
  transform: rotate(0deg);
  padding: 20px 24px;
}

.stop-gray {
  transform: rotate(90deg);
}

.stop-green {
  transform: rotate(90deg);
}

.add-call-gray {
  transform: rotate(87deg);
}

.hello {
  font-size: 15px;
}











