.bg-green {
  background-color: #4FD971;
  border-radius: 100%;
}

.bg-red {
  background-color: #E2463D;
  border-radius: 100%;
}

.bg-gray {
  background-color: grey;
  border-radius: 100%;
}

.bg-blue {
  background-color: #447CE9;
  border-radius: 100%;
}
.bg-purple {
  background-color: $withu-purple;
  border-radius: 100%;
}

.btn-refuse {
  font-size: 25px;
  color: white;
  transform: rotate(-135deg);
  padding: 20px 20px;
}

.btn-accept {
  font-size: 25px;
  color: white;
  transform: rotate(87deg);
  padding: 20px 20px;
}

.btn-second-call-white {
  font-size: 20px;
  color: white;
  transform: rotate(87deg);
}

.btn-second-call-green {
  font-size: 20px;
  color: #4FD971;
  transform: rotate(87deg);
}

.btn-loc-small-white {
  color: white;
  font-size: 20px;
}

.btn-loc-small-green {
  color: #4FD971;
  font-size: 20px;
}

.btn-loc {
  font-size: 25px;
  color: white;
  transform: rotate(0deg);
  padding: 20px 23.125px;
}

.btn-pause {
  font-size: 25px;
  color: white;
  transform: rotate(90deg);
  padding: 20px 21.56px;
}

.btn-questionmark {
  font-size: 25px;
  color: white;
  padding: 20px 23.125px;
}

.btn-map {
  font-size: 25px;
  color: white;
  padding: 20px 18.435px;
}

.btn-profile {
  font-size: 25px;
  color: white;
  padding: 20px 21.56px;
}

.btn-add-call {
  padding: 23px 20px;
}










