 .prof-header {
  padding-top: 6%;
  color: white;
 }
 .prof-h1 {
  font-size: 48px;
 }

 .prof-p {
  font-size: 18px;
 }
.map-container {
  margin-bottom: 20px;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

