 .prof-header {
  padding: 6% 0;
  color: $withu-purple;
 }
 .prof-h1 {
  font-size: 48px;
 }

 .prof-p {
  font-size: 18px;
 }
.map-container {
  margin-bottom: 20px;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
#angel {
  margin-top: 0.2px;
  margin-bottom: 0.2px;
}
#form-angel {
  margin-top: 6%;
}




//fromkitt

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}
#phone {
  padding: 0 0px !important;
  margin-left: 5%;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}


.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #555555;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
