.call-top {
 text-align: center;
}

.call-name {
  color: white;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 2.0rem;
  height: 45px;
}

.mobile {
  color: #938C8C;
  size: 14px;
  justify-content: center;
}

.call-info {
  padding-top: 0px;
}

.call-description-white {
  color: white;
  font-size: 14px;
}

.call-description-green {
  color: #4FD971;
  font-size: 14px;
}
